<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="static/css/main.css">
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/agreement.js"></script>
    <title>Influencer Web Application</title>
</head>
<body>
    <div id="experiment-container">
        <h1 id="">Amazon Review Experiment</h1>
        <div id="personal-information">
            <div>
                Welcome! You are going to take part in an experiment about Amazon reviews. In this experiments you will see 10 products followed by 6 reviews each. So, you will see 60 reviews in total. Such reviews have been written by real users of Amazon. Your task is to evaluate the reviews in term of their helpfulness from 1 to 5 where 1 means not helpful at all, and 5 means very helpful. Before starting, you need to agree on taking part in such an experiment and give us your consent to store and analyze your data. The data collected is not personal identity data. A random user’s ID will be generated for you, so we won’t ask you to provide your name or any personal information that may be used to identify you.
            </div>
            <form id="agreement">
                <input type="checkbox" id="agreement_id" name="agreement">
                <label for="agreement_id"> I agree to take part in the experiment and I give my consent for the collection of the data
                </label><br>
                <input type="submit" id="submitbtn" name="submitbtn" value="Next">
            </form>
        </div>
    </div>
</body>
</html>