<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="static/css/main.css">
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/instruction.js"></script>
    <title>Influencer Web Application</title>
</head>
<body>
    <div id="experiment-container">
        <h1 id="">Experiment Instruction</h1>
        <div id="personal-information">
            <div>
                The following 10 pages display 10 products with 6 reviews for each product. Imagine you are interested in these products. Please look at the picture and read the product description. Your task is to evaluate the reviews in term of their helpfulness from 1 to 5 where 1 means not helpful at all, and 5 means very helpful. You should rate each review in relation to the others. You can use any visual clues (e.g., tags) in the review to help with your judgement. 
            </div>
            <form id="start-experiment">
                <input type="submit" id="submitbtn" name="submitbtn" value="Start Experiment">
            </form>
        </div>
    </div>
</body>
</html>