<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="static/css/main.css">
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/product.js"></script>
    <title>Influencer Web Application</title>
</head>
<body>
<div id="product-container">

</div>
<div id="reviewSection-container">
    <form id="review">
        <div id="review-container">
            
        </div>
        <input type="submit" name="submitbtn" value="Next">
    </form>
</div>
</body>
</html>